 .header {
            background-color: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 60px;
        }

        .header div {
            padding: 10px;
            display: flex;
            flex-direction: column;
            font-weight: bold;
            font-size: larger;

        }

        .header div .emp {
            color: green;
        }

        .title {
            font-weight: bolder;
            font-size: larger;
            color: #42515f;
        }

        .bt {
             background-color: #82a70c;
            color: white;
        }

        .search-btn {
            background-color: white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
        }

        .profile-img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            margin-right: 10px;
        }

        .dept {
            background-color: #e9fea5;
            color: #42515f;
            border-radius: 20px;
            padding: 4px 10px;
            font-size: 12px;
            margin-right: 5px;
            display: inline-block;
        }

        .table-head th {
            background-color: #42515F;
            color: #ffffff;
            font-size: 15px;
        }

        .table thead {
            background-color: #42515f;
            color: white;
        }
        .action-icon{
            cursor: pointer;
        }
        .pp{
            height:30px;
            width:300px;
            gap:5rem;
            border-style: none;
        }