 body {
      background-color: #f7f7f7;
    }

    .header {
      background-color: white;
      height: 70px;
      display: flex;
      align-items: center;
      padding: 0px 90px;
    }

    .header img {
      height: 40px;
    }

    .header div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card {
      background: white;
      border-radius: 8px;
      padding: 30px;
    }

    .profile-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }

    .custom {
      min-width: 100px;
    }

.c{
    display: none;
    color:red;
    
}